<!DOCTYPE html>
<html>
    <head>
        <title>Weekday Finder</title>
    </head>
    <body>
        <form action="/weekday" method="post">
            <p>For what date do you want to know the day of the week?</p>

            <label>Enter day in 2 digits:</label>
            <input type="text" name="day" maxlength="2" required>
            <br>
            <label>Enter month in 2 digits:</label>
            <input type="text" name="month" maxlength="2" required>
            <br>
            <label>Enter year in 4 digits:</label>
            <input type="text" name="year" maxlength="4" required>
            <br>
            <button type="submit">Submit</button>
        </form>
    </body>
</html>
