<html>
    <head>
        <title>Weekday Found</title>
    </head>
    <body>
            <p>The day of the week on your date is {{ weekday }}.</p>
            <a href="/"><button name="button" >Check another date</button></a>
    </body>
</html>
